@import 'settings.sass'
@import 'header.sass'
@import 'footer.sass'


//  main

.main
  &__inner
    padding: 6% 0 0 0
    margin: auto
    width: 70%
    min-width: 500px
    &_width-50
      width: 50%
    &_width-90
      width: 90%
    &_padding-3
      padding: 3% 0 0 0
  &__elem
    width: 100%
    &_width-50
      width: 50%
    &_width-90
      width: 90%


//  site welcome

.site-welcome
  text-align: center
  color: $color_0
  &__header
    font-size: 2em
    margin: 1% auto
  &__register, &__login
    margin-top: 20px
    min-width: 150px
    max-width: 30%
    height: 60px


//  form

.form
  text-align: center
  font-size: 1em
  &__inner
    width: 100%
    min-width: 150px
    margin: auto
    &_width-75
      width: 75%
    &_width-50
      width: 50%
  &__text-input
    height: 40px
    width: 100%
    margin: 5px 0 15px 0
    padding: 0
    &_size-m
      height: 100px
  &__file-input
    margin: auto
  &__button
    min-width: 10%
    max-width: 100%
    height: 40px
    margin-top: 3%
  &_hidden
    display: none


//  text-input

.text-input
  display: block
  font-size: inherit


//  button

.button
  display: inline-block


//  headers

.header-1-level
  font-size: 1.5em

.header-2-level
  font-size: 1.2em

.header-3-level
  font-size: 1.1em
  margin: 15px 0

