@import 'settings.sass'
@import 'header.sass'
@import 'footer.sass'

//  main

.main
  &__inner
    padding: 6% 0 0 0
    margin: auto
    width: 70%
    min-width: 500px
    &_width-50
      width: 50%
    &_width-90
      width: 90%
    &_padding-3
      padding: 3% 0 0 0
  &__elem
    width: 100%
    &_width-50
      width: 50%
    &_width-90
      width: 90%


//  profile

.profile
  display: flex
  flex-direction: row
  &__image-wrap
    max-width: 50%
    margin-right: 3%
    height: 85vh
  &__image
    &_main
      width: auto
      height: auto
      max-width: 100%
      max-height: 90%
      margin: auto
  &__image-list
    display: flex
    flex-direction: row
    justify-content: center
    background-color: black
    height: 10%
    width: auto


//  headers

.header-1-level
  font-size: 1.5em

.header-2-level
  font-size: 1.2em

.header-3-level
  font-size: 1.1em
  margin: 15px 0

