@import 'settings.sass'
@import 'header.sass'
@import 'footer.sass'


//  main

.main
  &__inner
    padding: 6% 0 0 0
    margin: auto
    width: 70%
    min-width: 500px
    &_width-50
      width: 50%
    &_width-90
      width: 90%
    &_padding-3
      padding: 3% 0 3% 0
  &__elem
    width: 100%
    &_width-50
      width: 50%
    &_width-90
      width: 90%


//  form

.form
  text-align: center
  font-size: 1em
  &__inner
    width: 100%
    min-width: 150px
    margin: auto
    &_width-75
      width: 75%
    &_width-50
      width: 50%
  &__text-input
    height: 40px
    width: 100%
    margin: 5px 0 15px 0
    padding: 0
    &_size-m
      height: 100px
  &__file-input
    margin: auto
  &__button
    min-width: 10%
    max-width: 100%
    height: 40px
    margin-top: 3%
  &_hidden
    display: none


//  text-input

.text-input
  display: block
  font-size: inherit


//  button

.button
  display: inline-block
  &_adv-search
    background-color: $color_1
    color: $color_2


//  search page

.search-page
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto 1fr
  grid-column-gap: 20px
  grid-row-gap: 40px
  &__form
    grid-column: 2 / 4
    text-align: center
  &__content
    grid-column: 1 / 4
  &__setup
    position: sticky
    top: $header_height + 10px
    grid-column: 4 / 5
    height: 400px
    color: $color_1
    background-color: $color_2


//  result setup

.result-setup
  display: flex
  flex-direction: column
  &__inner
    padding: 10px
  &__row
    width: 100%
  &__option
    cursor: pointer
    &:hover
      background-color: $color_1
      color: $color_2


//  profile preview

.profile-preview
  &__inner
    display: grid
    grid-template-columns: min-content auto
    grid-template-rows: auto
    grid-column-gap: 1%
    margin: 20px auto
  &__image
    height: 300px
    width: 300px
    &_resize-100
      height: 100px
      width: 100px
  &__info
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr 2fr
    text-align: center
    &_size-s
      text-align: left
      font-size: 0.7em
  &__block
    &_full-width
      grid-column: 1 / 5


//  headers

.header-1-level
  font-size: 1.5em

.header-2-level
  font-size: 1.2em

.header-3-level
  font-size: 1.1em
  margin: 15px 0

