@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

$color_0: black
$color_1: white
$color_2: #1C2C55
$color_3: #281D57
$color_4: #16424F
$header_height: 50px

body
  margin: 0
  padding: 0
  font-size: 15pt
  font-family: 'Montserrat', sans-serif

.header-wrap, footer-wrap
  position: sticky
  top: 0

.button
  background-color: $color_3
  color: $color_1
  border: 0
  cursor: pointer
  font-size: 15pt
  font-weight: 100
  letter-spacing: 1px

.button:focus
  outline: 0
  cursor: pointer