// _header.sass

$main_color: black
$secondary_color: white
$third_color: #FF9500

header
  position: fixed
  z-index: 1
  width: 100%
  div
    width: 50%
    margin: auto
    text-align: center
    font-size: 40pt
    color: $third_color

