@use 'header.sass'

$main_color: black
$secondary_color: white
$third_color: #FF9500

@mixin placeholder ($color)
  &::-webkit-input-placeholder
    text-align: center
    color: $color
    opacity: 0.7
  &:-moz-placeholder
    text-align: center
    color: $color
    opacity: 0.7
  &::-moz-placeholder
    text-align: center
    color: $color
    opacity: 0.7
  &:-ms-input-placeholder
    text-align: center
    color: $color
    opacity: 0.7

%hover_font
  cursor: pointer
  color: aqua

%borders
  border: 1px solid $third_color
  border-radius: 5px

body
  margin: 0
  padding: 0
  color: $third_color
  text-align: center
  overflow: hidden

a
  text-decoration: none
  cursor: pointer
  color: $third_color

#toggle_main
  position: absolute
  background-color: $main_color
  width: 100%
  height: 100%

.grid_container
  display: grid
  margin: auto
  padding: 0
  width: 80%
  height: 100vh
  grid-template-columns: repeat(4, minmax(250px, 25%))
  grid-template-rows: repeat(20, minmax(50px, 5%))

//  <row-start> / <column-start> / <row-end> / <column-end>;
.grid_item:nth-child(1)
  @extend %borders
  grid-area: 5 / 1 / 10 / 2


.grid_item:nth-child(2)
  grid-area: 3 / 3 / 20 / 5

.main_image
  width: 100%
  height: 100%
  object-fit: cover

// form
form
  width: 100%
  margin: auto
  text-align: center
  input
    @include placeholder($third_color)
    @extend %borders
    background-color: $secondary_color
    width: 70%
    height: 20px
    margin: 10px auto
    color: $main_color
    &[type="submit"]
      width: 15%
    &:focus
      outline: none

.register_link:hover, .forgot_pass:hover
  @extend %hover_font

// register
#toggle_register
  position: absolute
  background-color: $secondary_color
  left: 100vw
  width: 100%
  height: 100vh

.register_wrap
  position: relative
  margin: 25vh auto
  width: 40%

.register_wrap > form
  display: inline-block
  width: 50%
  input
    width: 100%
  input
    &[type="submit"]
      width: 15%

.register_popup
  @extend %borders
  position: absolute
  right: 0
  width: 20%
  min-height: 20px
  max-height: 60px
  margin: 0 10px

//.register_input
//  &:focus
//    & + .register_popup
//      display: block

.login_link:hover
  @extend %hover_font
  width: 100%

//  reinit pass popup
.reinit_pass_popup_wrap
  display: none




















