@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css?family=Amatic+SC&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
body {
  margin: 0;
  padding: 0;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
}

.header-wrap, footer-wrap {
  position: sticky;
  top: 0;
}

.button {
  background-color: #281D57;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 15pt;
  font-weight: 100;
  letter-spacing: 1px;
}

.button:focus {
  outline: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
}

.header-wrap, footer-wrap {
  position: sticky;
  top: 0;
}

.button {
  background-color: #281D57;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 15pt;
  font-weight: 100;
  letter-spacing: 1px;
}

.button:focus {
  outline: 0;
  cursor: pointer;
}

.header {
  font-size: 2em;
  color: white;
  background-color: #16424F;
  font-family: "Amatic SC", sans-serif;
}
.header__inner {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  height: 50px;
  margin: auto;
}
.header__logo {
  grid-area: 1/1/1/1;
}
.header__logo:hover {
  cursor: pointer;
}
.header__menu {
  grid-area: 1/6/1/8;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}
.menu__item {
  cursor: pointer;
  padding: 0 10px;
  line-height: 50px;
  height: 100%;
}
.menu__item:hover {
  background-color: #1C2C55;
}

.link, .link:link, .link:hover, .link:visited, .link:active {
  text-decoration: none;
  color: white;
}

.main__inner {
  padding: 6% 0 0 0;
  margin: auto;
  width: 70%;
  min-width: 500px;
}
.main__inner_width-50 {
  width: 50%;
}
.main__inner_width-90 {
  width: 90%;
}
.main__inner_padding-3 {
  padding: 3% 0 3% 0;
}
.main__elem {
  width: 100%;
}
.main__elem_width-50 {
  width: 50%;
}
.main__elem_width-90 {
  width: 90%;
}

.profile-preview__inner {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
  grid-column-gap: 1%;
  margin: 20px 0;
}
.profile-preview__image {
  height: 300px;
  width: 300px;
}
.profile-preview__image_resize-100 {
  height: 100px;
  width: 100px;
}
.profile-preview__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
  text-align: center;
}
.profile-preview__info_size-s {
  text-align: left;
  font-size: 0.7em;
}
.profile-preview__block_full-width {
  grid-column: 1/5;
}

.text-input {
  display: block;
  font-size: inherit;
}

.button {
  display: inline-block;
}

.header-1-level {
  font-size: 1.5em;
}

.header-2-level {
  font-size: 1.2em;
}

.header-3-level {
  font-size: 1.1em;
  margin: 15px 0;
}

.dialog {
  display: grid;
  grid-template-columns: minmax(350px, 30%) minmax(700px, 70%);
  grid-template-rows: 80vh;
}
.dialog__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
.dialog__search {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.dialog__chat {
  background-color: lightgreen;
}

.chat {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 95% 5%;
}
.chat__messages {
  grid-area: 1/1/1/3;
  background-color: lightblue;
  overflow-y: scroll;
}
.chat__message {
  width: 100%;
}
.chat__input {
  grid-area: 2/1/2/1;
  background-color: lightpink;
}
.chat__button {
  grid-area: 2/2/2/2;
}

/*# sourceMappingURL=messages.css.map */
