@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
@import "https://fonts.googleapis.com/css?family=Amatic+SC&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
body {
  margin: 0;
  padding: 0;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
}

.header-wrap, footer-wrap {
  position: sticky;
  top: 0;
}

.button {
  background-color: #281D57;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 15pt;
  font-weight: 100;
  letter-spacing: 1px;
}

.button:focus {
  outline: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15pt;
  font-family: "Montserrat", sans-serif;
}

.header-wrap, footer-wrap {
  position: sticky;
  top: 0;
}

.button {
  background-color: #281D57;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 15pt;
  font-weight: 100;
  letter-spacing: 1px;
}

.button:focus {
  outline: 0;
  cursor: pointer;
}

.header {
  font-size: 2em;
  color: white;
  background-color: #16424F;
  font-family: "Amatic SC", sans-serif;
}
.header__inner {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  height: 50px;
  margin: auto;
}
.header__logo {
  grid-area: 1/1/1/1;
}
.header__logo:hover {
  cursor: pointer;
}
.header__menu {
  grid-area: 1/6/1/8;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
}
.menu__item {
  cursor: pointer;
  padding: 0 10px;
  line-height: 50px;
  height: 100%;
}
.menu__item:hover {
  background-color: #1C2C55;
}

.link, .link:link, .link:hover, .link:visited, .link:active {
  text-decoration: none;
  color: white;
}

.main__inner {
  padding: 6% 0 0 0;
  margin: auto;
  width: 70%;
  min-width: 500px;
}
.main__inner_width-50 {
  width: 50%;
}
.main__inner_width-90 {
  width: 90%;
}
.main__inner_padding-3 {
  padding: 3% 0 3% 0;
}
.main__elem {
  width: 100%;
}
.main__elem_width-50 {
  width: 50%;
}
.main__elem_width-90 {
  width: 90%;
}

.profile {
  display: flex;
  flex-direction: row;
}
.profile__image-wrap {
  width: 30%;
  margin-right: 3%;
}
.profile__image_main {
  width: 100%;
  height: auto;
  margin: auto;
}
.profile__image_list {
  padding: 3px;
  max-width: 100%;
  max-height: 100%;
}
.profile__image-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 7vh;
  width: 100%;
}
.profile__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.radio {
  cursor: pointer;
}
.radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
.radio__input:checked + .radio__image {
  outline: 2px solid #f00;
}
.radio__image {
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}
.radio__image_padding-none {
  padding: initial;
  margin: 0 2px;
}

.user-status {
  font-size: 0.5em;
  color: #aaa;
}

.header-1-level {
  font-size: 1.5em;
}

.header-2-level {
  font-size: 1.2em;
}

.header-3-level {
  font-size: 1.1em;
  margin: 15px 0;
}

/*# sourceMappingURL=profile.css.map */
